[user]
		name  = Sam Oehlert
		email = soehlert@illinois.edu
[core]
		editor		 = vim
		excludesfile = /Users/sam/.gitignore_global
		autocrlf	 = input
		safecrlf	 = true
[color]
		ui = true
[alias]
		co	 = checkout
		c	 = commit
		st	 = status
		br	 = branch
		hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
		type = cat-file -t
		dump = cat-file -p
        deploy = !git checkout production && git pull && git merge development && git push && git checkout development
[push]

		default = current

