.netrwhist
common/.vim/autoload/plug.vim
common/.vim/autoload/plug.vim.old
*/plug.vim.old
*/.config/fantascraper.conf
*/.config/physioroom.conf
*/.config/wireshark
*/.config/configstore
*/.config/MusicBrainz
*/.config/neofetch
*/.config/configstore
*/.config/wireshark
*/.vim/plugged/*
*/.config/MusicBrainz
*/.config/gtk-2.0
*/.config/asciinema
*.swp
