.netrwhist
*client_secret.json
work/.config
common/.vim/autoload/plug.vim
common/.vim/autoload/plug.vim.old
common/.vim/black
*/plug.vim.old
~/.config/ansible-scribe
*/.config/gcloud
work/.config/gcloud/.last_update_check.json
*/.config/fantascraper.conf
*/.config/physioroom.conf
*/.config/wireshark
*/.config/ansible-scribe/*
*/.config/configstore
*/.config/MusicBrainz
*/.config/neofetch
*/.config/configstore
*/.config/wireshark
*/.vim/plugged/*
*/.config/MusicBrainz
*/.config/gtk-2.0
*/.config/asciinema
work/.config/gcloud/
*.swp
*.un~
work/.config/gcloud/active_config
work/.config/gcloud/config_sentinel
work/.config/gcloud/configurations
work/.config/gcloud/gce
work/.config/gcloud/logs
