.netrwhist
common/.vim/autoload/plug.vim
common/.vim/autoload/plug.vim.old
common/.vim/black
*/plug.vim.old
~/.config/ansible-scribe
*/.config/gcloud
*/.config/fantascraper.conf
*/.config/physioroom.conf
*/.config/wireshark
*/.config/ansible-scribe/*
*/.config/configstore
*/.config/MusicBrainz
*/.config/neofetch
*/.config/configstore
*/.config/wireshark
*/.vim/plugged/*
*/.config/MusicBrainz
*/.config/gtk-2.0
*/.config/asciinema
*.swp
