[user]
  name  = Sam Oehlert
  email = sam.oehlert@gmail.com
[core]
  editor       = vim
  excludesfile = /Users/sam/.gitignore_global
  autocrlf     = false
  safecrlf     = true
[color]
  ui = true
[alias]
  co     = checkout
  c      = commit
  st     = status
  br     = branch
  dp     = !git diff -R playground
  dm     = !git diff -R master
  cp     = !git checkout playground
  cm     = !git checkout master
  hist   = log --pretty= format:'%h %ad | %s%d [%an]' --graph --date = short
  type   = cat-file -t
  dump   = cat-file -p
  deploy = !git checkout master && git pull && git merge --no-ff --log playground && git push && git checkout playground
[push]
  default = simple
