[user]
  name = Sam Oehert
  useConfigOnly = true
[core]
  editor       = vim
  excludesfile = /Users/sam/.gitignore_global
  autocrlf     = false
  safecrlf     = true
[alias]
  br     = branch
  c      = commit
  cm	 = commit -m 
  co     = "!f() { git checkout \"$@\" && git stash list | grep \"$1:\"; }; f"
  com    = !git checkout master
  cob    = "!f() { git checkout -b \"$@\"}; f"
  dp     = !git diff -R playground
  dm     = !git diff -R master
  po	 = "!git push -u origin $(git rev-parse --abbrev-ref HEAD)"
  st     = status
  bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs git branch -d; }; f"
[push]
  default = simple
[credential]
	helper = none
# BEGIN ANSIBLE MANAGED BLOCK
[include]
  path = "/Users/soehlert/.gitaliases"
# END ANSIBLE MANAGED BLOCK
